@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  .no-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #ead05d;
    border-radius: 0.16rem;
  }

  .text-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

html {
  scroll-behavior: smooth;
}
