@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro_VariableFont_wght.ttf");
  }

  @font-face {
    font-family: "cyberpunk";
    src: url("/fonts/Cybrpnuk2.ttf");
  }

  @font-face {
    font-family: "burnout";
    src: url("/fonts/Burnoutfadeaway.ttf");
  }

  @font-face {
    font-family: "gillbold";
    src: url("/fonts/gillSansUltraBold.ttf");
  }

}

html {
  scroll-behavior: smooth;
}